
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* flex-wrap: wrap; */
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* NAVBAR */
header{
    height:4rem;
    padding-left:2rem;
    padding-right:2rem;
    width:100%;
    background-color: azure;
}

nav{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2rem;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

ul li a{
    color: black;
    font-size: 1.25rem;
}
.toggle{
    height:2rem;
    width: 4rem;
    border-radius:1rem;
    background-color: blueviolet;
}

/* MAIN SECTION */

main{
    height: calc(100% - 4rem);
    padding-left:2rem;
    padding-right:2rem;
    width: 100%;
    background-color: cornflowerblue;
}

#hero{
    height: 100%;
    width: 100%;
    background-color: rgb(146, 246, 171);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.side1{
    flex: 1;
    margin: 4rem;
    background-color: chocolate;
    display: flex;
    align-items:self-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.side1 h2{
    font-size:3.5rem;
}

.side1 h2 span{
    color: aqua;
}

.side1 p{
    font-size: 1.4rem;
}

.side2{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    height:27rem;
    width: 27rem;
    border-radius: 50%;
    background-color: aqua;
    margin: 1rem;
}

/* about section */

#aboutme{
    width: 100%;
    background-color: rgb(191, 152, 100);
    height:auto;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

#aboutme h2{
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

.about-card{
    width: 100%;
    background-color: rgb(146, 198, 232);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.about-card-1{
    height:auto;
    width: 50%;
    min-width: 500px;
    padding: 2rem;
}

.img2{
    height:25rem;
    background-color: rgb(34, 120, 196);
}

.about-card-2{
    height:auto;
    width: 50%;
    background-color: rgb(6, 6, 78);
    padding: 2rem;
}

.about-card>div{
    flex: 1 1 300px; 
  min-width:400px; 
}

/* menu section */
#menu{
    width: 100%;
    background-color: rgb(198, 167, 126);
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
}

#menu h2{
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

.menu-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.menu-item{
    height: 320px;
    width: 30%;
    min-width:270px;
    max-width: 350px;
    background-color: beige;
    padding: 1rem;
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
     margin-top: 2rem;
}

.item-img{
    height:80%;
    width:100%;
    background-color: blue;
}

.item-name{
    font-size: 1.25rem;
}

.item-price{
    font-weight:700;
}

@media (max-width:700px) {
    html{
        font-size: 12px;
    }
}