/* animation */

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
  100% {
    transform: translateY(0); 
  }
}

.img {
  animation: upDown 3s ease-in-out infinite;
}


html[data-theme="dark"]{
    --bg-1:rgb(18, 33, 39);
    --text-color:rgb(232, 220, 220);
}

html[data-theme="light"]{
    --bg-1:rgb(192, 225, 239);
    --text-color:rgb(33, 25, 25);
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    outline: none;
    border: none;
    resize: none;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--bg-1);
}

/* NAVBAR */

.hero-container{
    width: 100%;
    height: 100vh;
    background-image: url("assests/hero-bg.png");
    background-position: center;
    background-size: cover;
    padding-left:2rem;
    padding-right:2rem;
}
header{
    height:4rem;
    padding-left:2rem;
    padding-right:2rem;
    width:100%;
}


nav{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-logo{
    height:3.5rem;
    width: 6rem;
    background-position: center;
    object-fit: contain;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2rem;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}

ul li a{
    color: var(--text-color);
    font-size: 1.25rem;
}
#toggle{
    font-size:1.8rem;
    color: #555879;
    transition: opacity 0.4s ease;
}

/* MAIN SECTION */

main{
    height: calc(100% - 4rem);
    padding-left:2rem;
    padding-right:2rem;
    width: 100%;
}

#hero{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.side1{
    flex: 1;
    max-width:45%;
    display: flex;
    align-items:self-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.side1 h2{
    font-size:3.8rem;
}

.side1 h2 span{
    color: rgb(20, 61, 61);
}

.side1 p{
    font-size: 1.2rem;
    font-weight: 500;
}

.side1 button{
    height: 3rem;
    width: 8rem;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid black;
}
.side2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    height:35rem;
    width: 35rem;
    background-image: url("/assests/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
}


/* about section */

#aboutme{
    width: 100%;
    height:auto;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

#aboutme h2{
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    color: var(--text-color);
}

.about-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.about-card-1{
    height:auto;
    width: 50%;
    min-width: 500px;
    padding: 2rem;
}

.img2{
    height:25rem;
    background-image: url("/assests/about-bg.png");
    background-size:cover;
    border-radius: 2rem;
}

.about-card-2{
    height:auto;
    width: 40%;
    padding: 2rem;
}

.about-card-2 p{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}
.about-card>div{
    flex: 1 1 300px; 
  min-width:400px; 
}

/* menu section */
#menu{
    width: 100%;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menu h2{
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
}

.menu-cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.menu-item{
    height: 320px;
    width: 30%;
    min-width:270px;
    max-width: 350px;
    background-color:#BDDDE4;
    padding: 1rem;
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.item-img{
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height:80%;
    width:100%;
    background-color: blue;
}

.item-name{
    font-size: 1.25rem;
}

.item-price{
    font-weight:700;
}


/* bakers section */
#baker{
    height: auto;
    width:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 3rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

#baker button{
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    border-radius: 50%;
}
.baker-conatiner{
    height:600px;
    width:40rem;
    min-width:300px;
    background-color: rgb(247, 247, 195);
    padding: 1rem;
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
     margin-top: 2rem;
}

.baker-img{
    height:80%;
    width:100%;
}

.baker-name{
    font-size: 1.25rem;
}

.baker-ex{
    font-weight:700;
}


/* contact form */
#contact{
    width: 100%;
    background-color:#FFD6BA;
    height:auto;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 4rem;
}

.contact-img{
    height:25rem;
    width: 40%;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
}
#conatct-form{
    height: auto;
    width: 45%;
    min-height: 300px;
    min-width:320px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #555879;
    border-radius: 2rem;
}

#contact input,textarea{
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border-radius: 2rem;
}

#contact textarea{
    height:auto;
}

#contact button{
    height: 3rem;
    width: 8rem;
    padding: 1rem;
    border-radius: 2rem;
}

/* footer */

#footer{
    margin-top: 3rem;
    padding-left:2rem;
    padding-right:2rem;
    width: 100%;
    height: auto;
}

.footer-conatiner{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.footer-compony{
    height: auto;
    width:30%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.quick-links {
    display: flex;
    align-items:start;
    justify-content: center;
    gap: 3rem;
}

.quick-links ul{
    display: flex;
    align-items:start;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}


.credit{
    height: 2rem;
    width: 100%;
    background-color:rgb(123, 239, 138);
    display: flex;
    align-items: center;
    justify-content:space-between;
}

@media (max-width:700px) {
    html{
        font-size: 12px;
    }

    .baker-img{
    height:60%;
    width:100%;
    background-color: blue;
}

.baker-conatiner{
    width: 400px;
}

}